.Profil{
    &-welcome {
    font-size:2rem;
    color:white;
    font-weight:bold;}
    &-edit {
        padding:15px;
        color:white;
        background-color: #00bc77;
        font-size:1.2rem;
        font-weight:bold;
    }
}