.Profil{
    &-welcome {
    font-size:2.3rem;
    color:white;
    font-weight:bold;
    & span{
        margin:0px;
        padding:0px;
        text-decoration: none;
        }
    }
    &-edit {
        padding:15px;
        color:white;
        background-color: #00bc77;
        font-size:1.2rem;
        font-weight:bold;
        margin-bottom:30px;
        &_{
            display:none;
            flex-direction: column;
            padding:10px;
            color:white;
            align-items: center;
            & input{
                
                width:250px;
                height:30px;
                margin-left:20px;
                font-size:1.8rem;
                margin:10px;
            }
            & label{
                font-size:1.8rem;
            }
        }
        &_Option{
            display:flex;
            gap:50px;
            margin-top:25px;
            & button{
                width:150px;

            }
        }
    }
}
.Backgroundaccount{
    flex:1;
    background:#12002b;
    padding-top:80px;
    display:block;
}