.Banner{

    &-Logo {
    background-image: url('../../img/bank-tree.jpeg');
    background-position: 0 30%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    width:100%;
    border-top:1px black solid;

}
    &-Content {
        background: white;
        position: absolute;
        text-align: left;
        padding: 1.8rem;
        top: 50px;
        right: 50px;
        width: 250px;
        height:110px;
        margin: 2rem;
    }
    &-Sub {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 0;
    }
    &-Text {
        margin-bottom: 0;
        font-size: 1rem;
    }


}
@media (max-width:900px) {
    .Banner{
        &-Logo{
            height:280px;
            background-position: 0 -50px;
            
        }
        &-Content{
            top:0px;
            padding:2rem;
            width:50%;
        }
        &-Sub {
            font-size: 1rem;
        }
        &-Text {
            font-size: 0.8rem;
        }
        
}
}